.offersSwiper .swiper-button-next,
.offersSwiper .swiper-button-prev {
  color: #555;
  transition: 0.3s;
}
.offersSwiper .swiper-button-next:hover,
.offersSwiper .swiper-button-prev:hover {
  color: #f59e0b;
}
.offersSwiper .swiper-pagination-bullet {
  background: rgba(0, 0, 0, 0.3);
}
.offersSwiper .swiper-pagination-bullet-active {
  background: #f59e0b;
}